<a href="https://colab.research.google.com/github/clamtime/CSI-480-02/blob/master/10-15-21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd

HousingData = pd.read_csv("melb_data.csv")

HousingData['Date'] = pd.to_datetime(HousingData['Date'])

HousingData['Propertycount'] = HousingData['Propertycount'].astype('Int16')

TypeMap = {'h' : 'house', 'u' : 'unit', 't' : 'town_house'}

HousingData.Type.replace(TypeMap).sample(20)

HousingData['Type']=HousingData['Type'].astype('category')
print(HousingData.Type.memory_usage())

HousingData['Date'].sample(10)

18628

11761   2017-03-06
9523    2017-05-13
14999   2017-07-22
92      2016-09-17
14794   2017-07-22
14534   2017-07-15
9514    2017-06-05
9996    2017-06-05
15647   2017-03-09
17825   2017-09-23
Name: Date, dtype: datetime64[ns]