<a href="https://colab.research.google.com/github/clamtime/CSI-480-02/blob/master/10_26_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("Banking_Marketing.csv")
df = df.dropna()

print(df['loan'].value_counts())

data_column_category = df.select_dtypes(exclude=[np.number]).columns
data_column_numeric = df.select_dtypes(include=[np.number]).columns
print(df.head())

label_encoder = LabelEncoder();

for i in data_column_category:
  df[i] = label_encoder.fit_transform(df[i])

print("Label Encoded Data: ")

df[data_column_category].std().sort_values(ascending=False)

no         33950
yes         6247
unknown      990
n              2
Name: loan, dtype: int64
   age          job  marital  ... euribor3m nr_employed  y
0   44  blue-collar  married  ...     4.963      5228.1  0
1   53   technician  married  ...     4.021      5195.8  0
2   28   management   single  ...     0.729      4991.6  1
3   39     services  married  ...     1.405      5099.1  0
4   55      retired  married  ...     0.869      5076.2  1

[5 rows x 21 columns]
Label Encoded Data:

job            3.594537
month          2.319997
education      2.136434
day_of_week    1.397559
housing        0.985320
loan           0.723619
marital        0.608896
contact        0.481511
default        0.406683
poutcome       0.362882
dtype: float64